<!-- User is an admin, UI to create a new item -->
<% if(locals.isAdmin){%>
  <div class="d-flex flex-row-center">
    <div class="p-2">
      <button class="btn btn-primary my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#myCreateModal">+ Add</button> 
    </div>
  </div>
  <div class="modal fade" id="myCreateModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">ADD Item</h4>
          <button class="close" type="button" data-dismiss="modal">×</button>
        </div>
        <div class="modal-body">
          <form id="addform" class="form-container"  >
          <!-- action="/addItem"> enctype="multipart/form-data" method="POST"  action="/addItem" -->
            <div class="form-group">
              <label for="exampleInputName">Item Name</label>
              <input class="form-control" id="addname" name="name" type="text" placeholder="Enter item name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Type</label>
              <!-- <input class="form-control"  name="type" type="text" placeholder="Enter type"> -->
              <select name = "type" id="addtype" class="form-control" >
                <option selected name = "ts" value="T-Shirts">Tshirts</option>
                <option name = "af" value="Action Figures">Action Figures</option>
                <option name = "pc" value="Phone Cases">Phone Cases</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Description</label>
              <input class="form-control" id="adddescription" name="description" type="text" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="exampleInputQuantity">Quantity</label>
              <input class="form-control" id="addquantity" name="quantity" type="number" placeholder="Quantity">
            </div>
            <div class="form-group">
              <label for="exampleInputPrice">Price</label>
              <input class="form-control" id="addprice" name="price" type="number" placeholder="Price">
            </div>
            <div class="form-group">
              <p>Upload an image</p><input id="addimg" class="form-control" type="file" name="itemImage" />
            </div>

            <button class="btn btn-primary RegisterButton" id = "AddItemBtn" type="submit">ADD</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <% }%>
<!-- Item Cards Container -->
<div class="container">
  <div class="row">
    <!-- Item card -->
    <% for( let item of items) { %>
      <div class="col-sm-12 col-md-4">
        <div class="custom-column">
          <div>
            <!-- To have admin control to delete a item  -->
            <% if(locals.isAdmin){%>
              <a name="anchordelete" id="<%= item._id%>" href="#">
                <!-- /deleteItem/<%= item._id%> -->
                <button class = "btn btn-secondary trash" style="bottom: 0px;">
                  <i class="fa fa-trash"></i>
                </button>
              </a>
              <button class="btn btn-secondary my-2 my-sm-0" type="submit" data-toggle="modal" data-target="#myEditModal<%= item._id%>">
                <i class='fa fa-edit'></i>
              </button>
              <div class="modal fade" id="myEditModal<%= item._id%>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">EDIT Item</h4>
                      <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                      <form name="editform" class="form-container" method="POST">
                        <!-- enctype="multipart/form-data" action="/editItem/<%=item._id%>" -->
                        <div class="form-group hidediv">
                          <label for="exampleInputId">Item Id</label>
                          <input class="form-control"  value = "<%=item._id%>" name="itemid" type="text" placeholder="Enter item id">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName">Item Name</label>
                          <input class="form-control"  value = "<%=item.name%>" name="name" type="text" placeholder="Enter item name">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail">Type</label>
                          <input class="form-control"  value = "<%=item.type%>" name="type" type="text" placeholder="Enter type">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputDescription">Description</label>
                          <input class="form-control"  value = "<%=item.description%>" name="description" type="text" placeholder="Description">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputQuantity">Quantity</label>
                          <input class="form-control" value = "<%=item.quantity%>" id="editquantity" name="quantity" type="number" placeholder="Quantity">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPrice">Price</label>
                          <input class="form-control"  value = "<%=item.price%>" id="editprice" name="price" type="number" placeholder="Price">
                        </div>
                        <div class="form-group">
                          <p>Edit image file</p>
                          <label id="prevlabel<%=item.image%>" for="exampleprevfile">Previous File : <%=item.image%></label>
                          <input id="<%=item.image%>" class="form-control" type="file" value = "<%=item.image%>" name="itemImage" />
                        </div>
            
                        <button class="btn btn-primary RegisterButton" id = "EditItemBtn" type="submit">UPDATE</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            <%}%>
            <!-- cart button -->
              <button class = "btn btn-outline-danger cart" style="right: 10px; position: absolute;">
                <i class="fa fa-shopping-cart"></i>
              </button>
          </div>
          
          <div style="padding-top: 30px;">
            <a href = "#"><img class="image" src="/images/<%= item.image %>" alt="Card image cap"></a>
          </div>
          <div class="custom-column-content">
            <a href = "#" style="text-decoration: none;">
              <h5 class= "item-name text-dark">
                <%= item.name %>
              </h5>
            </a>
          </div>
            <div class="custom-column-footer">
            </div>
          
        </div>
        </div>
    <% } %>
    
    
  </div>

  <div class="row">
    <div style=" margin: auto;padding-top: 20px;">
      <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li style = "background-color: #007bff; padding: 6px 12px"class="active text-primary"><a style="color: white;"><%= i %></a></li>
                <% } else { %>
                    <li>
                      <button class="btn page-number"><%= i %></button></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
            <% } %>
        </ul>
    <% } %>
    </div>
</div>
</div>

<script>

$(document).ready(function(){  
  $('#addform').on('submit', function(event){
    event.preventDefault();
    $('#myCreateModal').modal('toggle');
    const form_data = new FormData(this);	
    //const post_url = $(this).attr("action");
    $.ajax({
        url: '/addItem', 
        type: 'POST',
        data: form_data,
		contentType: false,
		cache: false,
		processData:false,
                                
        success: function(data) {
            if (data === 'success'){
                alert('Successfully Added Item');
                const filter = $("#filter").val();
                const search_for_item = $("#search_for_item").val();
                const page = 1;
                var data = {};
                data.filter = filter;				  
                data.search_for = search_for_item; 
                data.page = page;
                $.ajax({
                    url: 'items/', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    cache: false,
                    contentType: 'application/json',
                                            
                    success: function(html) {
                        $('#itemContainer').html(html) ;
                    }
                });

            }
        }
    });
})

$('form[name="editform"]').on('submit', function(event){
    event.preventDefault();
    const form_data = new FormData(this);	
    const post_url = '/editItem/'+form_data.get('itemid');
    $('#myEditModal'+form_data.get('itemid')).modal('toggle');
    console.log('Edit URL : ------------------------------------------', '/editItem/'+form_data.get('itemid'));
    $.ajax({
        url: post_url, 
        type: 'POST',
        data: form_data,
		contentType: false,
		cache: false,
		processData:false,
                                
        success: function(data) {
            if (data === 'success'){
                alert('Successfully Updated Item');
                const filter = $("#filter").val();
                const search_for_item = $("#search_for_item").val();
                const page = 1;
                var data = {};
                data.filter = filter;				  
                data.search_for = search_for_item; 
                data.page = page;
                $.ajax({
                    url: 'items/', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    cache: false,
                    contentType: 'application/json',
                                            
                    success: function(html) {
                        $('#itemContainer').html(html) ;
                    }
                });

            }
        }
    });
})

$('a[name="anchordelete"]').on('click', function(event){
    event.preventDefault();
    const delete_url = '/deleteItem/'+$(this).attr('id');
    console.log('Delete URL : ------------------------------------------', delete_url);
    $.ajax({
        url: delete_url, 
        type: 'DELETE',
        data: {},

        success: function(data) {
            if (data === 'success'){
                alert('Successfully Deleted Item');
                const filter = $("#filter").val();
                const search_for_item = $("#search_for_item").val();
                const page = 1;
                var data = {};
                data.filter = filter;				  
                data.search_for = search_for_item; 
                data.page = page;
                $.ajax({
                    url: 'items/', 
                    type: 'POST',
                    data: JSON.stringify(data),
                    cache: false,
                    contentType: 'application/json',
                                            
                    success: function(html) {
                        $('#itemContainer').html(html) ;
                    }
                });

            } else {
              alert(data);
            }
        }
    });
})

$('input[name="itemImage"]').on('change', function(event){
  const id = $(this).attr('id');
  console.log('prevlablel id: ',id)
  $('prevlabel'+id).hide();
});  

});
</script>
